@model CourseViewModel

@{
    ViewData["Title"] = "CourseView";
}


<h1>@Model.CourseName</h1>
<h2>@Model.SchoolName</h2>


@*<form asp-action="SaveCourse" asp-controller="UserSavedInfo" method="post">
    <input type="hidden" name="courseId" value="@Model.CourseID" />
    <input type="submit" value="Save Course" />
</form>
*@

<button id="saveCourseBtn">Save Course</button>

<table style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th class="border-cell">图片</th>
            <th class="border-cell">名称</th>
            <th class="border-cell">课程</th>
            <th class="border-cell">年份</th>
            <th class="border-cell">类别</th>
            <th class="border-cell">描述</th>
            <th class="border-cell">评分</th>
            <!-- Add other document properties as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            var imageURL = (document.FirstPageImageLink ?? "").Replace("http:", "https:");
            <tr>
                <td class="border-cell"><img src="@imageURL" style="width: 200px; height: auto;" /></td>
                <td class="border-cell">
                    <a href="/Document/docview/@Model.SchoolName/@Model.CourseName/@document.Name/@document.DocumentID" target="_blank">
                        @document.Name
                    </a>
                </td>
                <td class="border-cell">@Model.CourseName</td>
                <td class="border-cell">@document.Year</td>
                <td class="border-cell">@document.Category</td>
                <td class="border-cell">@document.Description</td>
                <td class="border-cell">@document.Rating</td>
                <!-- Add other document properties as needed -->
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $("#saveCourseBtn").click(function () {
            $.ajax({
                url: '@Url.Action("SaveCourse", "UserSavedInfo")',
                type: 'POST',
                data: { courseId: '@Model.CourseID' },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
    </script>
}