

@model UniversityViewModel

@{
    ViewData["Title"] = "UniversityView";
}


<h1>@Model.Name</h1>
<h2>@Model.Location</h2>
<p>课程列表</p>


<button id="saveUniversityBtn">收藏大学</button>

<table>
    <thead>
        <tr>
            <th class="border-cell">课程名称</th>
            <th class="border-cell">课程 ID</th>
            <!-- Add other document properties as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td class="border-cell">
                    <a href="@String.Format("/Course/Courseview/?schoolName={0}&courseName={1}&courseID={2}", @Model.Name, course.CourseName, course.CourseID)" target="_blank">
                        @course.CourseName
                    </a>
                </td>
                <td class="border-cell">@course.CourseID</td>
                <!-- Add other document properties as needed -->
            </tr>
        }
    </tbody>
</table>


            
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $("#saveUniversityBtn").click(function () {
        @if (Context.User.Identity.IsAuthenticated)
        {
            <text>
                    $.ajax({
                        url: '@Url.Action("SaveUniversity", "UserSavedInfo")',
                        type: 'POST',
                        data: { universityId: '@Model.SchoolID' },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                            } else {
                                alert(response.message);
                            }

                            if (response.isFavorited) {
                                $('#saveUniversityBtn').text('取消收藏大学');
                            } else {
                                $('#saveUniversityBtn').text('收藏大学');
                            }
                        }
                    });
            </text>
        }
        else
        {
            <text>
                    alert('请先登录才能收藏');
            </text>
        }
            });
    </script>


    <script>

        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("IsUniversityFavorited", "UserSavedInfo")', // Endpoint for checking if university is saved
                type: 'GET',
                data: { universityId: '@Model.SchoolID' },
                success: function (response) {
                    if (response.isFavorited) {
                        $('#saveUniversityBtn').text('取消收藏大学');
                    } else {
                        $('#saveUniversityBtn').text('收藏大学');
                    }
                }
            });
        });

    </script>

}
